/* style.css */
button {
    background-color: #f4a460; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;   
    border-radius: 8px;
  }
  
  button:hover {
    background-color: #f5deb3; 
  }

  
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #f5deb3; 
    border-radius: 4px;
    transition-duration: 0.4s; 
  }
  
  input[type="text"]:focus {
    border-color: #f5deb3; 
    outline: none; 
  }
  
  
